<input type="text" [(ngModel)]="filterText">
     
<tr *ngFor="let user of pagedUsers | filter: {first_name: filterText}">
  
<td>
  <span *ngIf="!editMode">{{user.first_name}}</span>
  <span *ngIf="editMode">
    <input [(ngModel)]="user.first_name">
  </span>
</td>
<td>
  <span *ngIf="!editMode">{{user.email}}</span>
  <span *ngIf="editMode">
    <input [(ngModel)]="user.email">
  </span>
</td>
<span *ngIf="!editMode">
  <td>
  <a class="btn btn-sm btn-info" (click)="edit()"> Edit</a>
  </td>
</span>

<span *ngIf="editMode">
  <td>
  <a class="btn btn-sm btn-info" (click)="save()"> Save</a>
  </td>
</span>
<td>
  <a class="btn btn-sm btn-default" (click)="delete(user.id)"> Delete</a>
</td>
</tr>